header {
    width: 100%;
}
menu {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    align-items: space-around;
    justify-content: space-around;
    width: 100%;
    height: 3vh;
    padding-top: 1vh;
    margin-bottom: 1vh;
    background: var(--ombre-deux);
}
nav:hover {
    transform: scale(1.3);
    padding-top: 0.1vh;
}